<!DOCTYPE html>
<html>
<head>
    <title>Comandos do robô</title>
    <link rel="icon" href="{{ url_for('static', filename='logo.png') }}" sizes="16x16 32x32 48x48">
</head>
<body>
    <h1>Comandos do robô</h1>
    <p>Para realizar as ações, clique em uma das opções abaixo:</p>
    <ul>
        <li><a href="/caminhos/novo">Cadastrar novo caminho</a></li>
        <li><a href="/caminhos">Listar pontos cadastrados</a></li>
        <li><a href="/pegar_caminho">Ver caminho pelo ID</a></li>
        <li><a href="/atualizar">Atualizar caminho</a></li>
        <li><a href="/deletar">Deletar caminho</a></li>
    </ul>
</body>
</html>